<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360196641821-ap7j0al5al63g6fmqi2v6hkqalt6roc9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360196641821-ap7j0al5al63g6fmqi2v6hkqalt6roc9</string>
	<key>API_KEY</key>
	<string>AIzaSyAqumE4G-3CCoHrWZn1ihg6dK3h24QbL44</string>
	<key>GCM_SENDER_ID</key>
	<string>360196641821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.icare.app.prototipo</string>
	<key>PROJECT_ID</key>
	<string>icare-prototipo-9ca2d</string>
	<key>STORAGE_BUCKET</key>
	<string>icare-prototipo-9ca2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360196641821:ios:9791adcb592fb771</string>
	<key>DATABASE_URL</key>
	<string>https://icare-prototipo-9ca2d.firebaseio.com</string>
</dict>
</plist>